@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href=~/css/styles.css>

    <link rel="stylesheet" href=~/css/grilla.css>
    <link rel="stylesheet" href=~/css/style2.css>

    <title>Tech</title>
</head>
<body>
    <!--<header class="header2">
        <div class="wrapper">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <div class="cabecera">
                <a href="https://localhost:44366/">¡¡Bienvenidos a TECH!!</a>
            </div>
            <nav>
                <a href="login.html">
                    ¿Eres propietario? Inicia sesion
                </a>
            </nav>
        </div>
    </header>-->

    <!--Menu Desplegable-->
    <input type="checkbox" id="btn-menu">


    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <br><br>
                <a href="televisores.html">Televisores</a>
                <a href="refrigerador.html">Refrigeradoras</a>
                <a href="microondas.html">Microondas</a>
                <a href="cocinas.html">Cocinas</a>
                <a href="climatizacion.html">Climatizacion</a>
                <a href="cuidadoPersonal.html">Cuidado personal</a>
            </nav>
            <label for="btn-menu">x</label>
        </div>
    </div>

    <section class="contenido-wrapper">
        @foreach (var item in Model)
        {
            <div class="producto">
                <img src=@item.p.Foto alt=@item.p.Nombre>
                <div class="informacion">
                    <span class="tipo-marca">@item.m.Nombre</span>
                    <span class="titulo">@item.p.Nombre</span>
                    <span class="precio">@item.p.Precio</span>
                    <span class="dado-por">Por TECH</span>
                    <span class="descripcion">@item.p.Descripcion</span>
                    <div class="calificacion">
                        <span>
                            <i class="fi-xnsuxl-star-solid"></i>
                            <i class="fi-xnsuxl-star-solid"></i>
                            <i class="fi-xnsuxl-star-solid"></i>
                            <i class="fi-xnsuxl-star-solid"></i>
                            <i class="fi-xnsuxl-star-solid"></i>
                        </span>
                        <span>1919</span>
                    </div>
                    <div class="especifico">
                        <a id="masDetalles" asp-action="descrip_productos" asp-route-idProducto="@item.p.IdProducto">Ver más detalles</a>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="img/friconix.js"></script>
        }
    </section>


    <!--<footer class="pie-pagina">
        <div class="group">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="imagenes/tech.jpg" width="50" height="50" />
                    </a>
                </figure>
            </div>
            <div class="container">
                <nav>
                    <a href="#">Acerca de</a>
                    <a href="#">Politica de Privacidad</a>
                    <a href="#">Terminos y Condiciones</a>
            </div>
            <div class="box">
                <h2>TELEFONO :</h2>
                <div class="red-social">
                    <img src="imagenes/whatsapp.jpg" width="35" height="35" />
                    <a href="https://walink.co/8f1a41">
                        +51997974293
                    </a>
                </div>
            </div>
        </div>
        <div class="group2">
            <small>&copy; 2022 <b>TECH</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>-->

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../Static/JS/main.js"></script>
</html>
